
.res_footer{
    position: relative;
}
.res_float{
    position: absolute;
    background-image:linear-gradient(violet,darkblue);
    opacity: 1;
    top:-130;
    z-index: 0;
}
@media (max-width: 480px) {
    .res_footer{
      flex-direction: column;
      padding:20px;
      padding-bottom: 0;
      gap: 20;
      padding-bottom: 25px;
      font-size: 15px;
      z-index: -1;
    }
    .res_float{
        flex-direction: column;
        position: static;
        width: 100%;
        z-index: 10;
    }
    
    }
    

    @media (max-width: 900px) {
        .res_footer{
          flex-direction: column;
          padding:20px;
          padding-bottom: 0;
          gap: 20;
          padding-bottom: 25px;
          font-size: 15px;
        }
        .res_float{
            flex-direction: column;
            position: static;
            width: 100%;
            z-index: 10;
        }
        
        }
        